/*================================
    Isotope Part Start
================================*/
.element-item img {
  width: 100%;
  display: inline-block;
}
.element-item {
  border: 5px solid #fff;
}
.button-group {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.button {
  text-transform: uppercase;
  border: 0;
  padding: 15px 20px;
  margin: 5px;
  display: inline-block;
}
.button-group .button:hover {
  background-color: crimson; 
  color: #fff;
}
.button-group .button:active,
.button-group .button.is-checked {
  background-color: crimson;
  color: white;
}

/*================================
    Isotope Part End
================================*/